.companyLogo{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-right: 10px;
    float: left;

}
li[draggable]::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: darkorange; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  ul {
    list-style: none; /* Remove default bullets */
  }
  .imageContainer {
    display: block;

  }

  #myImage {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url(./images/Circle.gif);
    border-image-slice: 2% fill;
    border-image-width: 10px;

}
#boldSpan{
    font-weight: bold;
}
.row{
    margin: none;
    padding: none;
}
.container .col-xxl-8 {
    margin: none;
    padding: none;
}

.btn-custom-orange{
  background-color: orange; /* Adjust the hex color code as per your preference */
  border-color: orange;
}